/* this is the first exercise */

/*#button1 {width: 300px;
		height: 200px;
		border: solid;
		margin: 5px;
		background-color: red;
		border-radius: 50%;
	}

#button2 {width: 300px;
		height: 200px;
		border: solid;
		margin: 5px;
		background-color: blue;
		border-radius: 50%;
	}

#result {width: 300px;
		height: 200px;
		border: solid;}

#button1text {font-size: 20px;
			position: relative;
			left: 100px;
			top: 100px;
			}

#button2text {font-size: 20px;
			position: relative;
			left: 100px;
			top: 100px;
			}
*/

/* this is the second exercise*/

/* #box {width: 200px;
	height: 200px;
	border: solid;}

#text {font-size: 20px;
		text-align: center;} */

/* this is the third exericse which is hard and I hate everything */

/* this is the fourth exercise*/


/*

#box {width: 500px;
		height: 200px;
		border: solid;
	}

#submit {width: 200px;
		height: 40px;}

